<% title @forum.name  %>  

<table>  
  <tr>  
    <th width="60%">Topic Title</th>  
    <th width="10%">Replies</th>  
    <th width="30%">Last Post</th>  
  </tr>  
  <% for topic in @forum.topics%>  
  <tr>  
    <td><%= link_to topic.name, topic_path(topic.id) %>  
      <td><%= topic.posts.count - 1 %></td>
      <td><%= topic.created_at %></td> 
      <td class="right"></td>  
      <!---
      <td><%= link_to "Show", topic %></td>  
      <td><%= link_to "Edit", edit_topic_path(topic) %></td>  
      <td><%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %></td>  
    -->
  </tr>  
  <% end %>  
</table>

<% if someone_is_logged_in? %>
<p><%= link_to "Start a new Topic", "/topics/new?forum=#{@forum.id}" %></p>
<% else %>
<p><strong>You have to be logged in to Start a new Topic.!!</strong></p>
<% end %>