<!--these two work the navbar-->
<%= stylesheet_link_tag    "home" %>
<%= stylesheet_link_tag    "nivo-style" %>

<%= stylesheet_link_tag    "blog" %>

<h1 style="font-size:20px;">Blogs</h1>
<!--facebook javascript sdk-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if someone_is_logged_in? %>
<%= link_to 'Post a New Blog', new_blog_path, class: 'button radius' %>
<% end %>

<div class="box">
  <div class="contentb">
<table style="width:700px;">
   <tbody>
    <% @blogs.each do |blog| %>
    
      <tr>
        <td style="font-family:Georgia; font-size:18px; font-weight:bold;"><h3><%= blog.title %></h3></td>
      </tr>
      <tr>

        <td class="body"><img src="/assets/demo/smiling2.jpg" alt="Img"><br><!--replace this with a user uploaded image maybe during creation of blog post?-->
          <%= blog.body %>
        <p><em>Posted <%= time_ago_in_words(blog.created_at) %> ago</em></p>
        <hr>

        <!--fb comment-->
        <div class="fb-comments" data-href="https://www.facebook.com/AzmaKenya" data-numposts="5" data-colorscheme="light"></div>
        </td>

        <% if admin_is_logged_in? %>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div><!--header-->
<!-- WORK IN PORGRESS<% @blogs.each do |blog| %>
    
      <tr>
        <td style="font-family:Georgia; font-size:18px; font-weight:bold;"><h3><%= blog.title %></h3></td>
      </tr>
      <tr>
          <p><em>Posted <%= time_ago_in_words(blog.created_at) %> ago</em></p>
        <hr>
    <% end %>-->

</div><!-- box -->

<div id="sidebar">
        <h3>Latest Blog Posts</h3>
        <ul class="posts">
          <li>
            <img src="" alt="Img"> <span>Posted Feb. 21, 2023</span> <a href="blog.html">Choosing the leader saa nane </a>
          </li>
          <li>
            <img src="" alt="Img"> <span>Posted Feb. 20, 2023</span> <a href="blog.html">Mathematics and sleeping giants</a>
          </li>
          <li>
            <img src="" alt="Img"> <span>Posted Feb. 19, 2023</span> <a href="blog.html">its two am and i should go sleep</a>
          </li>
          <li>
            <img src="" alt="Img"> <span>Posted Feb. 18, 2023</span> <a href="blog.html">sleep at three. sawa?</a>
          </li>
        </ul>
        <h3>Blog Categories</h3>
        <ul>
          <li class="selected">
            <a href="blog.html">Community Service</a>
          </li>
          <li>
            <a href="services.html">Leadership</a>
          </li>
          <li>
            <a href="services.html">Contests</a>
          </li>
          <li>
            <a href="services.html">some category</a>
          </li>
        </ul>
      </div>
<div style="clear:both;"></div>
 
  <div id="footer">
    <div id="articles">
      <div class="header">
        <div class="body">
          <div>
            <hr>
            <div class="section">
              <h3><a href="events.html">Upcoming Events</a></h3>
              <ul class="blog">
                <li>
                  <p>
                    <span>Posted Feb. 21, 2023</span> <a href="blog.html">Choosing The Right carreer path with you for You</a> this talk shall have speakers giving talks on how to choose tyour carreer path.
                  </p>
                </li>
                <li>
                  <p>
                    <span>Posted Feb. 20, 2023</span> <a href="blog.html">Academic Trends For 2023</a> what do you know, these could be just your future. Trends happening now that define your future. A talk by Mojo jojo and pingu and rabbids.
                  </p>
                </li>
              </ul>
            </div>
            <div class="section">
              <h3>Contact Information</h3>
              <table class="info">
                <tbody>
                  <tr>
                    <td>Address:</td>
                    <td>somewhere in Nairobi</td>
                  </tr> <tr>
                    <td>Phone:</td>
                    <td>+254 703 597 595</td>
                  </tr> <tr>
                    <td>Hours Open:</td>
                    <td>Mon- Friday: 10 am- 6pm</td>
                  </tr>
                </tbody>
              </table>
              <h3>Follow us</h3>
              <div id="connect">
                <a href="http://www.facebook.com/" target="_blank" class="facebook"></a> <a href="http://www.twitter.com/" target="_blank" class="twitter"></a> <a href="http://www.googleplus.com/" target="_blank" class="googleplus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <form action="index.html" method="post">
        <input type="text" value="subscribe" class="txtfield" onMouseUp="return false;" onFocus="this.select();">
        <input type="submit" value="Subscribe" class="btn">
      </form>
      <p>
        © Azma. <a href="#">Privacy Policy</a> <a href="#">Terms and Conditions</a>
      </p>
    </div>
  </div>
