<h1>Sign In</h1>

<%= form_tag session_index_path do %>
<p id="notice"><%= notice %></p>

<div class="field">

  <%= label_tag :username %>
  <%= text_field_tag :username %>
</div>

<div class="field">
<style>
  .field

  {
    width: 100px;
      
      

  }
</style>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<div class="field">

  <%= label_tag :is_admin %><br />
  <%= check_box_tag :is_admin %>
</div>

<div class="btn-group">
  <%= submit_tag "Log In" %>
</div>
<% end %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>