<div class="row">
<div class="centered">
		<!--these two work the navbar-->
		<%= stylesheet_link_tag    "home" %>
		<%= stylesheet_link_tag    "nivo-style" %>
    
    	<%= stylesheet_link_tag    "demo" %>
    	<%= stylesheet_link_tag    "style" %>
<body>
	    		
			<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">Who We are</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">What we do</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">History</label>
			
	            <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
		        <label for="tab-4" class="tab-label-4">Contact</label>
            
			    <div class="clear-shadow"></div>
				
		        <div class="content">
			        <div class="content-1">
						<h2>Who We Are</h2>
						<h3>Ambitious Zealous Movers of Africa (AZMA)</h3>
						<h3>Organisational profile.</h3>
						<p><strong>Year of Establishment:</strong> 2011</p>
						<p><strong> Place of Establishment: </strong> Precious Blood Girls High School.</p>
						<p><strong> Type of Organization:</strong> Community Based Organisation</p>
						<p><strong> Target group:</strong> youth
						<p><strong> Target area:</strong> Africa</p>
						<br>

                        <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
						<h3>How we work</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
			        <div class="content-2">
						<h2>Services</h2>
                        <h2>AZMA’s Values of Excellence</h2>
                        <ol>
						<li><h3>Capability and accountability</h3> </li>
						<p>AZMA is built to develop its members’ and its beneficiaries’ capability and equip them with the knowledge and links to put their abilities to use as they exercise accountability in their actions and way of living.</p>

						<li><h3>Creativity and innovation </h3> </li>
						<p>AZMA encourages the use and advancement of one’s creativity and innovativeness to positively impact the society in all ways. To deduce change from our abilities.</p>

						<li><h3>Honesty, integrity, and transparency </h3></li>
						<p>Members and beneficiaries ofAZMA are expected to uphold these values for their excellence in AZMA activities and their lives.</p>

						<li><h3>Discipline </h3> </li>
						<p>All Azmats are expected to follow AZMA’s policies and any other rules that may apply.</p>
						</ol>
						<h2>Vision and Mision Statements</h2>
						<strong>Vision: </strong> 
							<p>To grow young minds and change destitute lives in Africa.</p>
						
							<strong>Mission: </strong> 
							<p>To use the great minds and ideas of the youth today to transform the lives of the underprivileged in their immediate and extensive environments in Africa.</p>

					</div>
			        <div class="content-3">
						<h2>AZMA-A brief history</h2>
                        <p>AZMA was founded in the year 2011 and launched on 25th November by students of Precious Blood Girls High School with an intention of increased idea sharing and student networking through social media and community based events. We started out with a website that was able to engage students from different schools in different discussions on issues affecting our societies and solutions to problems. We organise events to bring together youths and at the same time enable us to give back to the society.</p>
						<h3>Examples</h3>
						<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
				    </div>
				    <div class="content-4">
						<h2>Contact</h2>
                        <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic.</p>
						<h3>Get in touch</h3>
						<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
						<p>
							<input type="text">
						</p>
				    </div>
		        </div>
			</section>
        </div>
	</div>
</div>
 <%= javascript_include_tag "modernizr.custom.04022" %>
</body>