<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag    "uikit.almost-flat" %>
<%= stylesheet_link_tag    "uikit.almost-flat.min" %>
<%= stylesheet_link_tag    "uikit" %>
<%= stylesheet_link_tag    "uikit.gradient" %>
<%= stylesheet_link_tag    "uikit.gradient.min" %>
<%= stylesheet_link_tag    "uikit.min" %>
<%= stylesheet_link_tag    "custom" %>


<body>
		<!--calls all fb plugins-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <%= stylesheet_link_tag    "home" %>

    <%= stylesheet_link_tag    "themes/default/default"  %>
    <%= stylesheet_link_tag    "themes/light/light" %>
    <%= stylesheet_link_tag    "themes/dark/dark" %>
    <%= stylesheet_link_tag    "themes/bar/bar" %>
    <%= stylesheet_link_tag    "nivo-slider" %>
    <%= stylesheet_link_tag    "nivo-style" %>
    

    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="/assets/d6.JPG" data-thumb="/assets/d6.JPG" alt=""  data-transition="fold" title="This is an example of a caption"/>
                <img src="/assets/d.JPG" data-thumb="/assets/d.JPG" alt="" data-transition="fade"  title="This is an example of a caption" />
                <img src="/assets/d3.JPG" data-thumb="/assets/d3.JPG" alt="" data-transition="fold" title="This is an example of a caption"  />

                <img src="/assets/d1.JPG" data-thumb="/assets/d1.JPG" alt=""  data-transition="sliceUpDownLeft" title="This is an example of a caption"/>
                <img src="/assets/d2.JPG" data-thumb="/assets/d2.JPG" alt="" title="this is a caption" data-transition="sliceUpDown" />
                <img src="/assets/d5.JPG" data-thumb="/assets/d5.JPG" alt="" data-transition="sliceUpLeft" title="This is an example of a caption" />
            </div>
        </div>
    </div>

    <div id="pageContainer">
		<header id="pageHeader"></header>
	 	<div id="contentContainer" class="clearfix">
			<nav id="pageNav">Navigation</nav>

  			<section id="pageSection">
				<header class="sectionHeader"> Lorem ipsum</header>
				<article class="sectionArticle">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

					<aside id="pageAside">
 						<p> Page aside Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
 						</p>
 					</aside>

				</article>
				<footer class="sectionFooter">
					<nav>Kina navigation hapa</nav>
				</footer>
			</section>

 			
		</div>
		<footer id="pageFooter">
			main footer
		</footer>
	</div>
   

<p class="azm"><b>AZMA</b> was founded in the year 2011 and launched on 25th November by students of Precious Blood Girls High School with an intention of increased idea sharing and student networking through social media and community based events. We started out with a website that was able to engage students from different schools in different discussions on issues affecting our societies and solutions to problems.
			We organise events to bring together youths and at the same time enable us to give back to the society.</p>
			<br/><br/>
			<strong>Vision: </strong> To grow young minds
			and change destitute lives in
			Africa.
			<br/><br/>
			<strong>Mission: </strong> To use the great minds
			and ideas of the youth today to
			transform the live  of the underprivileged in
			their immediate and extensive environments in
			Africa.
			<br/><br/>
			<h3> AZMA’s Values of Excellence</h3>
			<strong class="azma"> 1. Capability and
				accountability </strong>
				<br/>
            
            <p class="azma">
				AZMA is built to develop its members’ and its beneficiaries’ capability and equip them with the knowledge and links to put their abilities to use as they exercise accountability in their actions and way of living.</p>
				<br/><br/>
				<strong class="azma"> 2. Creativity and innovation </strong>
				<br/>
            <p class="azma">
				AZMA encourages the use and advancement of one’s creativity and innovativeness to positively impact the society in all ways. To deduce change from our abilities.</p>
				<br/><br/>
				<strong class="azma">3. Honesty, integrity, and transparency </strong>
				<br/><p class="azma">
				Members and beneficiaries ofAZMA are expected to uphold these values for their excellence in AZMA activities and their lives.</p>
				<br/><br/>
				<strong class="azma">4. Discipline </strong>
				<br/>
            <p class="az">
				All Azmats are expected to follow AZMA’s policies and any other rules that may apply.</p>
				<br/><br/>
			</div>
		</div>
 

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

 	<%= javascript_include_tag "jquery-1.7.1.min" %>
 	<%= javascript_include_tag "jquery.nivo.slider" %>
	<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
      

</body>