<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
        <p>
                <%= f.label :body, "Leave a comment" %>  <br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>
<!--when you are less tired could you please look at your code and find out why the damn comments dont work and dont show errors-->